* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.hero {
  width: 100%;
  background-color: white;
  background-position: center;
  background-size: cover;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
  height: 100svh;
}
nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 250px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
.github-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 14px 40px;
  margin-right: 30px;
  font-weight: 400;
  background-image: linear-gradient(45deg, #1973d1, #010280);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
}
.content {
  margin-top: 10%;
  max-width: 600px;
}
.content h1 {
  font-size: 70px;
  color: #222;
}
.content p {
  margin: 10px 0 30px;
  color: #333;
}
.content .github-btn {
  padding: 15px 80px;
  font-size: 16px;
}
.github-btn:hover {
  border-top-right-radius: 30px;
}
.feature-img {
  width: 500px;
  position: absolute;
  bottom: 0;
  right: 10%;
}
.second-section {
  height: 100svh;
  margin-top: 30px;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
}
.second-section h2 {
  font-size: 30px;
  color: #222;
  margin-top: 10%;
  max-width: 600px;
}
.third-section {
  height: 100svh;
  margin-top: 0px;
  padding: 10px 10%;
  overflow: hidden;
  position: relative;
}
.third-section h2 {
  font-size: 30px;
  color: #222;
  margin-top: 10%;
  margin-bottom: 5%;
  text-align: center;
}
.third-section h5 {
  font-size: 30px;
  color: #fff;
  text-align: center;
}
.card1 {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(./Media/dota\ 2.webp);
  background-position: center;
  background-size: cover;
}
.card2 {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(./Media/books.jpeg);
  background-position: center;
  background-size: cover;
}
.card3 {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(./Media/basketball.webp);
  background-position: center;
  background-size: cover;
}
.card4 {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(./Media/netflix.jpg);
  background-position: center;
  background-size: cover;
}
.footer-btn {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 14px 40px;
  text-align: center;
  margin-top: 10%;
  margin-right: 30px;
  font-weight: 400;
  background-image: linear-gradient(45deg, #1973d1, #010280);
  font-size: 14px;
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
}
.footer-btn:hover {
  border-top-right-radius: 30px;
}
